<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../assets/dashboard_styles.css">
    <script src="https://kit.fontawesome.com/9fbdbccf85.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
</head>
<body>
    <div>
        <h1>Habit Tracker</h1>
    </div>
    <div class ="logout-section">
        <p>Welcome <%= user.name %></p>
        <a href="/users/logout">Logout</a>
    </div>
    <div class="habit-container">
        <h2>Daily To-Do List</h2>
        
        <%- include ("./partials/messages") %>
        <div class="habit">
            <form action="/dashboard" method="POST" class="habit-header">
                <input type="text" name="content" required>
                <button type="submit"><i class="fa-solid fa-circle-plus"></i></button>
            </form>
            <div>
                &emsp;&emsp;&emsp;
                <i class="fa-solid fa-check"></i>
                -Done&emsp;&emsp;
                <i class="fa-solid fa-x"></i>
                -Not Done&emsp;&emsp;
                <i class="fa-solid fa-minus"></i>
                -Unmarked&emsp;&emsp;
                </div>
            <% if(user.view === "daily"){ %>
                <ul class="habit-list">
                    <% habits.forEach(details => { let tzoffset = (new Date()).getTimezoneOffset() * 60000, found=false, status=''
                        var today = (new Date(Date.now() - tzoffset)).toISOString().slice(0, 10)
                        details.dates.find(function (item, index) {
                            if(item.date === today)
                            {
                                found = true
                                status = item.complete
                            }
                        });
                        %>
                    <li class="habit-list-item">
                        <a href="status-update/?id=<%= details._id %>&date=<%= today %>" class="status">
                            <% if(found && status==='yes'){ %>
                            <i class="fa-solid fa-check"></i>
                            <% } else if(found && status==='no'){ %>
                            <i class="fa-solid fa-x"></i>
                            <% } else { %>
                            <i class="fa-solid fa-minus"></i>
                            <% } %>
                        </a>
                        &emsp;
                        <div class="habit-list-item-name"><%= details.content %></div>
                        <a href="/favorite-habit/?id=<%= details._id %>" class="favorite">
                            <% if(details.favorite) { %>
                            <i class="fa-solid fa-star"></i>
                            <% } else { %>
                            <i class="fa-regular fa-star"></i>
                            <% } %>
                        </a>
                        <a href="/remove/?id=<%= details._id %>" class="remove">
                        <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </li>
                    <% }) %>
                </ul>
                <% } else { %>
                <ul class="habit-list text-center">
                    <% habits.forEach(details => { %>
                    <li class="habit-list-item">
                        <div class="habit-list-item-name"><%= details.content %></div>
                        <a href="/favorite-habit/?id=<%= details._id %>" class="favorite">
                            <% if(details.favorite) { %>
                                <i class="fa-solid fa-star"></i>
                            <% } else { %>
                                <i class="fa-regular fa-star"></i>
                            <% } %>
                        </a>
                        <a href="/remove/?id=<%= details._id %>" class="remove">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                        <% days.forEach(day => { let found = false, status = '';
                        details.dates.find(function (item, index) {
                            if(item.date === day.date)
                            {
                                found = true;
                                status = item.complete;
                            }
                        });
                        %>
                        <div class="dotw">
                            <div class="day mt-0"><span><%= day.day + ", " + day.date.slice(-2) %></span></div>
                            <a href="status-update/?id=<%= details._id %>&date=<%= day.date %>" class="status2 mt-4">
                                <% if(found && status==='yes'){ %>
                                <i class="fa-solid fa-check"></i>
                                <% } else if(found && status==='no'){ %>
                                <i class="fa-solid fa-x"></i>
                                <% } else { %>
                                <i class="fa-solid fa-minus"></i>
                                <% } %>
                            </a>
                        </div>
                        <% }) %>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
        </div>
    </div>
</body>
</html>
